Source: pyskeleton
Section: python
Priority: extra
Maintainer: Nikolai Nozhenko <nik.nozhenko@gmail.com>
Build-Depends: dh-python, python-setuptools, python-all, debhelper (>= 7.4.3)
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: pyskeleton
Architecture: all
Depends: ${python:Depends}
Description: Skeleton daemon
